#bio-box {
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  background-Color: #eb3b5a;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

#bio-box-title {
  font-family: sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding-bottom: 10px;
}

#bio-box-text {
  font-family: sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 10px;
}

#bio-box-words {

}
