/* Profile Module */
#bio-box {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

#bio-box-img {
  width: 30px;
  display: inline;
  vertical-align: text-top;
  float: right;
}

#bio-box-text {
  padding-top: 10px;
  font-family: arial, Helvetica, sans-serif;
  font-size: 15px;
}

.list-group {
  padding-top: 10px;
}

#bio-box-highlight {
  font-family: arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
  color: #FC427B;
}

u {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 2px solid #FC427B;
}
